<header>
    <app-container> <!-- CONTAINER DETERMINA UMA LARGURA MÁXIMA E CENTRALIZA O CONTEÚDO -->
        <div class="container-header">
            <div class="container-logo"> <!--CONTAINER LOGO -->
                <a href="">
                    <img class="logo" ngSrc="/logo.png" width="220" height="56" alt="Logo" priority />
                </a>
            </div>

            <nav>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicos">Serviços</a></li>
                </ul>
            </nav>
        </div>

    </app-container>
</header>