

header {
    padding: 1.5rem var(--padding-x);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    & ul {
        display: flex;
        gap: 2rem;

        & li a {
            color: black;
            font-size: 1.25rem;
            
        }
    }
}

.btn-contact {
    border: 1px black solid;
    border-radius: .5rem;
    padding: 1rem;
    color: black;
    font-weight: 500;
    font-size: 1.25rem;
}