<header>
    <app-container> <!-- CONTAINER DETERMINA UMA LARGURA MÁXIMA E CENTRALIZA O CONTEÚDO -->
        <div class="container-header">
            <div class="container-logo"> <!--CONTAINER LOGO -->
                <img class="logo" ngSrc="/logo.png" width="220" height="56" alt="Logo" priority/>
            </div>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About us</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Pricing</a></li>
                </ul>

                <a class="btn-contact" href="/wa.me/5522997288043">
                    <span>Solicite um orçamento</span>
                </a>
            </nav>
        </div>

    </app-container>
</header>