<section #sectionService id="servicos">
    <app-container>
        <div class="container">

            <div class="container-text">
                <h2>Serviços</h2>
                <p>Otimize sua rotina com listas personalizadas. Colabore com sua equipe de forma prática. Alcance seus objetivos com facilidade!</p>
            </div>
            <div class="service-grid">
                <app-card title1="Organização de" title2="Tarefas Simplificada" imgPath="/services/lupe.png" />
                <app-card title1="Colaboração Eficiente" title2="em Equipe"  imgPath="/services/checkbox.png" />
            </div>

            <div class="card-service-contact">
                <div class="container-text-contact">
                    <h3>Fale Conosco e Tire Suas Dúvidas</h3>
                    <p>Entre em contato conosco para esclarecer suas dúvidas ou obter mais informações. Nossa equipe está pronta para ajudar você a otimizar sua experiência. Não hesite em nos enviar uma mensagem!</p>
                    <app-main-button text="Entrar em contato"/>
                </div>

                <div>
                    <img ngSrc="/services/illustration.png" width="359" height="394"/>
                </div>
            </div>
        </div>
    </app-container>
</section>