section {
    padding: 4rem var(--padding-x);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 0;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    & div {
        width: 50%;
        min-width: 15rem;
    }

    & .hero-left-side {
        display: flex ;
        flex-direction: column;
        gap: 1.5rem;

        & .container-text {

            display: flex;
            flex-direction: column;
            gap: 1.7rem;
            width: 100%;
            max-width: 35rem;
    
            & h1 {
                font-size: clamp(2.5rem, 4vw, 4rem);
                text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.543);
            }
    
            & p {
                margin-bottom: 1rem;
            }
    
            & img {
                display: none;
                margin: 0 auto;
            }
        }
    } 
   

    & .hero-right-side {
        display: flex;
        justify-content: end;
    }
}

.img-megaphone {
    width: 80%;
    height: 100%;
}

.container-btns {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .test-btn {
        color: black;
        font-size: 1.125rem;
        background-color: var(--primary-color);
        padding: 1rem .5rem;
        border-radius: .5rem;
    }
}