<section>
    <app-container>

        <div class="hero" #section>
            <div class="hero-left-side">
                <div class="container-text">
                    <h1 #title >Navigating the digital landscape for success</h1>
                    <img class="img-megaphone" [ngSrc]="imgPath" width="200" height="100" alt="Logo" priority />
                    <p #p>Our digital marketing agency helps businesses grow and succeed online through a range of services
                        including SEO, PPC, social media marketing, and content creation.</p>
                </div>
                <app-main-button text="Entre em contato"/>

            </div>
            <div class="hero-right-side">
                <img class="img-megaphone" [ngSrc]="imgPath" width="200" height="100" alt="Logo" priority />
            </div>
        </div>
    </app-container>
</section>