
:root {
    --primary-color: #B9FF66;
    --secondary-color: #F3F3F3;
    --dark-color: #191A23;
    --black-color: #000;
    --padding-x: 1rem;
    --paragraph-size: 1.125rem;
    --rounded-size: 2.8125rem;
}